---
interface Data {
    person: string
    dog: string
}
export function getStaticPaths() {
    const data:Data[] = [
        {
            person: 'clifford',
            dog: 'spike',
        },
        {
            person:'rover',
            dog:'rex'
        }
    ]
    return data.map((unit)=>{
        return {
            params:unit
        }
    })
}
const {person,dog} = Astro.params
---

<html>
    <body>
        <h1>This is a sample person: {person}</h1>
        <h1>A dynamic dog: {dog}</h1>
    </body>
</html>