@import "tailwindcss";

@layer components {
    html, body, #root {
        @apply h-full m-0 p-0 
    }
    /*These grid classes are to get tw to generate them for me in the final bundle cuz i use them dynamically but not explicitly.else,it wont be included in my final bundle and i wint see those styles in my code */
    .grid-col-1 {
        @apply grid-cols-1
    }
    .grid-col-3 {
        @apply grid-cols-3 
    }
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #222a #ffffff00; /* Thumb color and transparent track */
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        background: transparent; /* Prevents 'white' strip */
        border-radius: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #22222288;
        border-radius: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-button {
        display: none; /* Hides arrows/steppers */
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent; /* Or match bg-[#ffffff2d] */
    }
    .custom-scrollbar::-webkit-scrollbar-corner {
        background: transparent;
    }
}