#*Ignore all the files under these folders
**/node_modules/
**/.parcel-cache/
**/dist/
#Im ignoring this one because i can always regenerate it again with the rustlings package.
**/rustlings

#*Ignore the .env file in all directories
**/.env

#*Ignore these files from rust
**/*.bin
**/*-bin-example
**/bin-example
**/bin-example.json
**/test-bin-example.json
**/*.o
**/*.timestamp
**/*.lock
**/*.rmeta
**/*.d
**/*.TAG
**/*.exe
**/*.pdb
**/.rustc_info.json
**/.cargo-lock

#*Dont ignore these from rust
!**/Cargo.lock