@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-[#3b4664];
    }
    .custom-scrollbar {
        scrollbar-width:thin; /* For Firefox */
        scrollbar-color: #1663bc transparent; 
    }
}