@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}
@theme {
    --font-space-regular:'SpaceRegular';
}
@layer components {
    @font-face {
        font-family: 'SpaceRegular';
        src: url('./fonts/space-mono/SpaceMono-Regular.ttf') format('truetype');
    }
}
