@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
    prefix:"daisy-"
}
@theme {
    --font-space-regular:'SpaceRegular';
    --font-robot-regular:'RobotoRegular';
    --font-robot-light:'RobotoLight';
}
@layer components {
    @font-face {
        font-family: 'SpaceRegular';
        src: url('./fonts/space-mono/SpaceMono-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'RobotoRegular';
        src: url('./fonts/roboto-mono/RobotoMono-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'RobotoLight';
        src: url('./fonts/roboto-mono/RobotoMono-Light.ttf') format('truetype');
    }
}
